.home {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  flex-wrap: wrap;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  cursor: pointer;
  display: inline-block;
}

#name:hover {
  color: rgb(146, 59, 226);
}

.home-img img {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
}

.img {
  height: 35px;
  padding: 5px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.2s;
}

.img:hover {
  transform: scale(1.2);
}

.socialmedia {
  transition: 0.5s ease;
}

#info {
  font-size: 25px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 100px 5% 0;
    text-align: center;
  }

  .home-img img {
    margin-top: 20px;
  }
}
